<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ModMen Style</title>
    <link rel="icon" href="/images/icon.png">
  </head>
  <body>

    <div class="nav-container">
      <div class="header">

        <div class="title">
          <h1>Mod Men Style</h1>
        </div>

        <div class="search">
          <input type="text" name="" value="">
          <button type="button" name="button">Search</button>
        </div>

        <div class="nav">
          <nav>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="#">About</a>
          </nav>
        </div>

        <div class="cart">
          <img src="/images/cart.png" height="50px" width="50px">
        </div>

      </div>
    </div>


    <%= yield%>

  </body>
</html>
