<link rel="stylesheet" href="/css/style_shop.css">

<div class="main-content">

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

  <div class="item">
    <div class="pic">
      <img src="images/watch_1.png" width="200px" height="200px">
    </div>
    <div class="description">
      <h2>This Watch Name</h2>
      <p>This is a long desription</p>
      <h3>Price - $20.00</h3>
      <button type="button" name="button">Add to Cart</button>
    </div>
  </div>

</div>
