<link rel="stylesheet" href="/css/style_shop.css">

<div class="main-content">

  <% products.each do |product|%>
    <div class="item">
      <div class="pic">
        <img src="<%= product[3]%>" width="200px" height="200px">
      </div>
      <div class="description">
        <h2><%= product[0]%></h2>
        <p><%= product[1]%></p>
        <h3><%= product[2]%></h3>
        <button type="button" name="button">Add to Cart</button>
      </div>
    </div>
  <% end%>

</div>
