body {
  width: 80%;
  margin: auto;
  text-align: center;
  /* background-image: url("/images/classy_img.jpg"); */
}

.nav-container{
margin-bottom: 4vw;
height: 40vw;
background-image: url("/images/leather.jpg");
background-repeat: no-repeat;
}

.header {
  color: white;
  /* position: -webkit-sticky;
  position: sticky; */
  /* top: 0; */
}

.header > .nav, .title, .search {
  display: inline-block;
  margin-left: 2vw;
  margin-right: 2vw;
}

.header > .title {

}

.header > .search {
}

.header > .nav {
  font-size: 2.4vw;
}

a {
  margin-left: 1vw;
  margin-right: 1vw;
}

a:link, a:visited {
  border: 3px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  color: white;
}

a:active, a:hover {
  border: 3px dotted white;
}

.main-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 3.5vw;
}

.item {
  display: grid;
  grid-template-columns: auto auto;
}

.pic {
  left: 0px;
}
